#map{
  width: 360px;
  height: 600px;
}

#bar{
  width: 900px;
  height: 600px;
  float: right;
}

#chair{
  width: 583px;
  height: 600px;
  float: right;
}



* {
  margin: 0;
  padding: 0;
}
svg, body {
  background-color: steelblue;
}
svg {
  width: auto;
  height: 600px;
  margin: 0 auto;
}
g {
  fill: yellowgreen;
  stroke: olivedrab;
}